
.container {
    max-width: 85%;
    
}

h1 {
    text-align: center;
    color: white;
    background-color: blue;
    margin: 0px;
    font-size: 60px;  
    padding: 15px;
    font-family: 'Rochester', cursive;
}



