<div class=container>
    <div class="header">
    <!--   <h1> Yailin </h1>
        <h2> Libretas artesanales </h2> 
        <h3> 100% hechas a mano</h3> -->
        <ul class="nav nav-tabs flex-column flex-sm-row">
            <li class="nav-item"> <a class="nav-link" routerLink="#" routerLinkActive="linkActive"><img src="../../assets/logotipo_yaha .jpg" alt="Logo"></a> </li>
            <li class="nav-item"> <a class="nav-link" routerLink="libretas" routerLinkActive="linkActive">Inicio</a> </li>
            <li class="nav-item"> <a class="nav-link" routerLink="libreta-media-carta" routerLinkActive="linkActive">Libretas artesanales</a> </li>
            <li class="nav-item"> <a class="nav-link" routerLink="libreta-bolsillo" routerLinkActive="linkActive">Libretas de bolsillo</a></li>
        </ul>
    </div>


</div> 
