<div class=container>
    <div class="header">
        <h1> Yailin </h1>
        <h2> Libretas artesanales </h2> 
        <h3> 100% hechas a mano</h3>
        <ul class="nav nav-tabs flex-column flex-sm-row">
            <li class="nav-item"> <a class="nav-link" routerLink="">Home</a> </li>
            <li class="nav-item"> <a class="nav-link" routerLink="libreta-media-carta">Libretas media carta</a> </li>
            <li class="nav-item"> <a class="nav-link" routerLink="libreta-bolsillo">Libretas de bolsillo</a></li>
        </ul>
    </div>


</div> 
