.container {
    max-width: 85%;
    margin: auto;
}
h1 {
    text-align: center;
    color: #7139b6;
    background-color: #a4e984;
}

button {
    float: right;
}

.libreta-added {
    color: #1511b6;
    background-color: #b1f831;
    padding: 15px;
}

