.container {
    margin: auto;
    max-width: 85%;
    clear: both;
}

.total {
    text-align: right;
    float: right;
}

.subTotal {
    color: #7149b9;
    background-color: #e2f8eb;
}

h1 {
    text-align: center;
    color: #9a1f8e;
    background-color: #e7d4ed;
    margin-top: 15px;
}

button {
    float: right;
    margin-top: 15px;
}

