.container {
    margin: auto;
    max-width: 85%;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
    color: #7139b6;
    background-color: #a4e984;
}

img {
    width: 350px;
    height: 245px; 
}

.foto-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

figcaption {
    text-align: center; 
    background: #e4fcce;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 576px) {
    img { 
        width: 140px;
        height: 94px;
    }
    figure {
        width: 140px;
    }
}