.container {
    margin: auto;
    max-width: 85%;
}

h2 {
    margin: 0;
}

img {
    width: 350px;
    height: 233px;
    margin: 5px;
    flex: 0 1 auto;    
}

.encabezado-de-bolsillo {
    margin: 15px;
    background-color: #f8c5bd;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    border-radius: 15px;
}

.bolsillo {
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom:  1px dashed black;
}

.encabezado-media-carta  {
    margin: 15px;
    text-align: center;
    background-color: #f8c5bd;
    border-radius: 15px;
}

.media-carta {
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (max-width: 576px) {
    img { 
        width: 100px;
        height: 67px;
    }
}