.container {
    margin: auto;
    max-width: 85%;
}
.libretas {
    margin: auto;
}
.libretas h2{
    
    background: rgb(248, 197, 189);
    font-family: 'Julius Sans One', sans-serif;
}

h2 {
    text-align: center;
    border-radius: 15px;
}

.media-carta {
    margin: 85%;
    margin: auto;
}

.bolsillo {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

img {
    width: 350px;
    height: 233px;
    flex: 0 1 auto;
    
}

@media (max-width: 576px) {
    img { 
        width: 100px;
        height: 67px;
    }
}