.container {
    margin: auto;
    max-width: 85%;
}

h2{
    margin: 0;
}

h2:hover {
    color: rgb(228, 56, 13);
}

img {
    width: 350px;
    height: 233px;
    margin-bottom: 15px;
}

.encabezado-de-bolsillo {
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    margin: 15px;
    background-color: #f8c5bd;
    border-radius: 15px;
}

.images-bolsillo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom:  1px dashed black;
}

.encabezado-media-carta  {
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    margin: 15px;
    background-color: #f8c5bd;
    border-radius: 15px;
}

.images-media-carta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (max-width: 576px) {
    img { 
        width: 100px;
        height: 67px;
    }
}