<div class="container">
    <div class="libretas">
        
        <section class="Libreta-media-carta">
            <div class="encabezado-media-carta">
                <h2>Libretas media carta:</h2>
                <button routerLink="/libreta-media-carta/Papel" mat-raised-button>Papel</button>
                <button routerLink="/libreta-media-carta/Tela" mat-raised-button>Tela</button>
            </div>
            <div class="images-media-carta">
                <img src="/assets/IMG_4343.JPG" alt="no toy ????">                    
                <img src="/assets/IMG_4302.JPG" alt="no toy ????">        
                <img src="/assets/IMG_4360.JPG" alt="no toy ????">
            </div>
        </section>

        <section class="Libreta-de-bolsillo">
            <div class="encabezado-de-bolsillo">
                <h2>Libretas de bolsillo:  </h2>
                <button routerLink="/libreta-bolsillo/Papel" mat-raised-button>Papel</button>
                <button routerLink="/libreta-bolsillo/Tela" mat-raised-button>Tela</button>
            </div>
            <div class="images-bolsillo">
                <img  src="/assets/IMG_4319.JPG" alt="no toy ????">
                <img  src="/assets/IMG_4326.JPG" alt="no toy ????">
                <img  src="/assets/IMG_4327.JPG" alt="no toy ????">
            </div>
        </section >
    </div>


    <br>

    <a href="https://www.instagram.com/yailinmx/?hl=es-la">instagram</a>
    <br>
    <mat-icon aria-hidden="false" aria-label="Example home icon">add_a_photo</mat-icon>

</div>