<div class="container">
    <div class="libretas">
        <a routerLink="/libreta-bolsillo" routerLinkActive="active">
            <div class="encabezado-de-bolsillo">
                <h2>Libretas de bolsillo  </h2>
            </div>
        </a>
            <div class="bolsillo">
                <img  src="/assets/IMG_4319.JPG" alt="no toy ????">
                <img  src="/assets/IMG_4326.JPG" alt="no toy ????">
                <img  src="/assets/IMG_4327.JPG" alt="no toy ????">
            </div>

        <a routerLink="/libreta-media-carta" routerLinkActive="active">
            <div class="encabezado-media-carta">
                <h2>Libretas</h2>
                <h2>Tamaño: media carta</h2>
            </div>
        </a>
            <div class="media-carta">
                <img src="/assets/IMG_4343.JPG" alt="no toy ????">                    
                <img src="/assets/IMG_4302.JPG" alt="no toy ????">        
                <img src="/assets/IMG_4360.JPG" alt="no toy ????">
            </div>
    </div>


    <br>

    <a href="https://www.instagram.com/yailinmx/?hl=es-la">instagram</a>
    <br>
    <mat-icon aria-hidden="false" aria-label="Example home icon">add_a_photo</mat-icon>

</div>