.container {
    margin: auto;
    max-width: 85%;
}
h1{
    margin: 0;
    text-align: center;
}

figure {
  flex: 0 1 auto;
  margin: 0;
  margin-bottom: 15px;
}

figcaption {
    text-align: center;
}
img {
    width: 350px;
    height: 233px;   
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.foto {
    background-color: rgb(214, 176, 176);
}

@media (max-width: 576px) {
    img { 
        width: 100px;
        height: 67px;
    }
}