<div class="container">
    <h1>Libretas de bolsillo</h1>
    <div class="bolsillo-flex"  >
        <figure *ngFor="let foto of fotos; index as i">
            
            <div *ngIf="materiales !== undefined; else allFotos">
                <div *ngIf="foto.material == materiales">
                    <img  src="{{foto.url}}" alt="no toy ????" >       
                    <figcaption>{{foto.material}}</figcaption>
                </div>    
            </div>

            <ng-template #allFotos>
                <img src="{{foto.url}}" alt="no toy ????" >       
                <figcaption>{{foto.material}}</figcaption>
            </ng-template>
            
        </figure>
    </div>
</div>

