.container {
    margin: auto;
    max-width: 85%;
}
h1{
    margin-bottom: 5px;
    text-align: center;
    background-color: #a4e984;
    color: #7139b6;
}

img {
    width: 350px;
    height: 233px;   
}

.bolsillo-flex {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

figcaption {
    background: rgb(206, 148, 22);
    text-align: center;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

@media (max-width: 576px) {
    img { 
        margin: 0 auto;
        width: 100px;
        height: 67px;
    }
    figure {
        margin: auto;
        width: 100px;
        padding-bottom: 10px;
    }
    
}