<div class="container">
    <h1>Libretas de bolsillo</h1>
    <div class="bolsillo-flex"  >
        <figure *ngFor="let libreta of libretas; index as i">
            <div *ngIf="material !== undefined; else allFotos">
                <div *ngIf="libreta.material == material">
                    <img  src="{{libreta.url}}" alt="no toy ????" >       
                    <figcaption>Libreta hecha a mano de {{libreta.material}} </figcaption>
                    <figcaption>Yailin</figcaption>
                    <figcaption>$130</figcaption>
                </div>    
            </div>

            <ng-template #allFotos>
                <img src="{{libreta.url}}" alt="no toy ????" >       
                <figcaption>Libreta hecha a mano de {{libreta.material}} </figcaption>
                <figcaption>Yailin</figcaption>
                <figcaption>$130</figcaption>
            </ng-template>
            
        </figure>
    </div>
</div>

