.container {
    margin: auto;
    max-width: 85%;
}
h1{
    margin: 0;
    text-align: center;
}

figure {
    display: inline-block;
    background-color: rgb(206, 148, 22);
 
}

figcaption {
    text-align: center;
}

img {
    width: 350px;
    height: 233px;   
}

.images-bolsillo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

@media (max-width: 576px) {
    img { 
        width: 100px;
        height: 67px;
    }
}