<div class="container">
    <h1>Caracteristicas</h1>
    <div *ngIf="libreta">
        <img src="{{libreta.url}}" alt="">
        <p>{{libreta.typeOfNotebook}}</p>
        <p>De {{libreta.material}}</p>
        <p>{{libreta.description}}</p>
        <p>Precio: {{libreta.precio  | currency}}</p>
    </div>
    
    <div class="added" *ngIf="addedNotebook">
        Libreta agregada correctamente
    </div>
    <button class="btn btn-outline-primary" type="submit" (click)="addCar(libreta)" [disabled]="buttonOff">Comprar</button>
</div>



