img {
    float: left;
    width: 300px;
    margin: 10px;
}

button {
    float: right;
    clear: both;
}

.container {
    margin: auto;
    max-width: 85%;
}

p {
    padding: 5px;
}

.added {
    background-color: #cae053;
    color: #7a08c4;
    clear: both;
}


